%section
  #likeness-image-container
    %img(src="/images/profile0.jpg")
  #intro-text
    %h1 Patrick Canfield
    %ul#titles
      %li Software Developer
      %li Web Developer

    %ul#Links
      %li
        %a(onClick="show('resume')") Resume
      %li
        %a(onClick="show('bio')") Bio
      %li
        %a(href="http://devtoo.net") My Employer
      %li
        %a(href="https://facebook.com/patrickcanfield68") Facebook
      %li
        %a(href="http://linkedin.com/in/hacktrick") Linkedin
      %li
        %a(href="https://github.com/patrickc56") Github

